.welcome {
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    background: linear-gradient(rgba(161, 103, 250, 0.6), rgba(220, 215, 215, 0));
}

.otpcard {
    margin-top: 100px;
    padding: 20px;
    background: linear-gradient(rgba(157, 82, 249, 0.51), rgba(141, 233, 83, 0.471));
}

.vnav {
    height: max-content;
}

.vnav-btn {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(45deg, violet, rgb(251, 205, 213));
    transition: 100ms;
}

.vnav-btn::after {
    color: blue;
    background: linear-gradient(45deg, violet, rgb(251, 205, 213));
    transition: width 0.3s;
}

.vnav-btn:hover {
    color: rgb(43, 1, 255);
    font-weight: bolder;
    background: linear-gradient(45deg, rgb(251, 205, 213), violet);
}

.adminlogo {
    width: 50px;
    font-weight: bolder;
    border-radius: 50%;
    background: linear-gradient(orangered, yellow);
}